<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string> 张三</string>
		<key>department</key>
		<string>服务</string>
	</dict>
	<dict>
		<key>username</key>
		<string>李四</string>
		<key>department</key>
		<string>服务</string>
	</dict>
	<dict>
		<key>username</key>
		<string>叶彦英</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>小明</string>
		<key>department</key>
		<string>研发</string>
	</dict>
	<dict>
		<key>username</key>
		<string>小红</string>
		<key>department</key>
		<string>研发</string>
	</dict>
	<dict>
		<key>username</key>
		<string>小黑</string>
		<key>department</key>
		<string>研发</string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙行者</string>
		<key>department</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙子</string>
		<key>department</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙悟饭</string>
		<key>department</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙悟空</string>
		<key>department</key>
		<string>教育</string>
	</dict>
</array>
</plist>
