<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>李伟</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>秦德部</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>王森</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>夏超</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>严晨昕</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>叶彦英</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>朱瑞阳</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>沈思炜</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>吴连进</string>
		<key>department</key>
		<string>研发部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>李南岭</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>刘忠秋</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>李项超</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>宋朝辉</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>王晓贺</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>温莎</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>赵丰硕</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>于波</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>张栋梁</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>张红叶</string>
		<key>department</key>
		<string>市场部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>邵明</string>
		<key>department</key>
		<string>移动开发部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>王传</string>
		<key>department</key>
		<string>移动开发部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>余长林</string>
		<key>department</key>
		<string>移动开发部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>程都</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>范荣辉</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>匡丁山</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>李建忠</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>林瑜</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>刘雯婧</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>王明明</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>杨晓飞
</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>郁小辉</string>
		<key>department</key>
		<string>产品体验部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>王洁</string>
		<key>department</key>
		<string>行政部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>吴婷婷</string>
		<key>department</key>
		<string>行政部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>徐越栋</string>
		<key>department</key>
		<string>行政部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>陈华军</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>方璐</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>潘蛟蛟</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙涛
孙涛
</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>徐雪江</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>袁甜</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>余立恒</string>
		<key>department</key>
		<string>运营部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>白长青</string>
		<key>department</key>
		<string>测试部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>江苗</string>
		<key>department</key>
		<string>测试部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>王菲</string>
		<key>department</key>
		<string>测试部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>杨帆 </string>
		<key>department</key>
		<string>测试部 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>刘爱霞</string>
		<key>department</key>
		<string>电商部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>沈艳</string>
		<key>department</key>
		<string>电商部</string>
	</dict>
	<dict>
		<key>username</key>
		<string>马豪峰</string>
		<key>department</key>
		<string>项目外协 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>彭波</string>
		<key>department</key>
		<string>项目外协 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>赵子立</string>
		<key>department</key>
		<string>项目外协 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>王充沛</string>
		<key>department</key>
		<string>实习生</string>
	</dict>
	<dict>
		<key>username</key>
		<string>董佳兴
</string>
		<key>department</key>
		<string>实习生 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>黄锦铭</string>
		<key>department</key>
		<string>实习生 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>胡慧倩</string>
		<key>department</key>
		<string>实习生 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>鲁碧赟</string>
		<key>department</key>
		<string>实习生 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>孟浩浩</string>
		<key>department</key>
		<string>实习生 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>朱荷婷</string>
		<key>department</key>
		<string>实习生 </string>
	</dict>
	<dict>
		<key>username</key>
		<string>褚鹏</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>房凯</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>范盼锋</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>冯洋</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>贺恒</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>贾静</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>荆传江</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>姬文香</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>李豪轩</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>任晓杰</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>史天伦</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>田宇</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>王伟</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>薛文娟</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>许涛</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
	<dict>
		<key>username</key>
		<string>杨文涛
杨文涛
</string>
		<key>department</key>
		<string>西安分公司</string>
	</dict>
</array>
</plist>
